// Form Styles
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 33.75rem;
  width: 100%;
}

.password-wrapper {
  margin-inline: calc(var(--spacing-200) * -2);
  width: 100%;
}

.password-group {
  position: relative;
  margin-block-end: var(--spacing-200);

  .field {
    position: relative;
  }

  .field__label {
    color: transparent;
    font-size: 0.6875rem;
    position: absolute;
    top: -0.375rem;
    left: 0.375rem;
    z-index: 1;
  }

  .field__input {
    background-color: var(--grey-800);
    border: transparent;
    color: var(--white);
    font: var(--text-2);
    padding-block: var(--spacing-200);
    padding-inline: var(--spacing-200);
    width: 100%;

    &::placeholder {
      color: var(--grey-700);
    }

    @media (width > 33.75rem) {
      font: var(--text-1);
    }
  }
}

.btn--copy {
  background-color: transparent;
  border: none;
  color: var(--green-200);
  cursor: pointer;
  display: inline-flex;
  font: var(--text-3);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  padding: var(--spacing-200);
  text-transform: uppercase;
  position: absolute;
  right: 0.125rem;
  top: 50%;
  transform: translateY(-50%);

  &:disabled {
    color: var(--grey-600);
    cursor: not-allowed;
  }

  &:hover {
    color: var(--white);
  }
}

input[type='checkbox'] {
  appearance: none;
  background-color: transparent;
  border: 0.125rem solid var(--grey-200);
  color: currentColor;
  cursor: pointer;
  height: 1.25rem;
  margin: 0;
  transition: all 0.3s ease;
  width: 1.25rem;

  &:hover {
    border-color: var(--green-200);
  }

  &::before {
    content: url(assets/images/icon-check.svg);
    position: absolute;
    scale: 0;
    transform: translate(0.0625rem, -0.0625rem);
    transition: scale 200ms ease-in-out;

    @media (width > 33.75rem) {
      transform: translate(0.0625rem, -0.1875rem);
    }
  }

  &:checked {
    background: var(--green-200);
    border: 0.125rem solid var(--green-200);
  }

  &:checked::before {
    scale: 1;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding-block: var(--spacing-400);

  label {
    color: var(--grey-200);
    display: grid;
    grid-template-columns: 1rem auto;
    gap: var(--spacing-200);
    align-items: center;
    font: var(--text-4);

    @media (width > 33.75rem) {
      font: var(--text-3);
    }
  }
}

.card {
  background-color: var(--grey-800);
  max-width: 33.75rem;
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-200);
  width: 100%;

  @media (width > 33.75rem) {
    padding-block: var(--spacing-300);
    padding-inline: var(--spacing-400);
  }
}

// Strength Indicator Styles
.strength-group {
  background-color: var(--grey-850);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--spacing-200);
  padding-block: calc(var(--spacing-200) - 0.125rem);
  padding-inline: var(--spacing-200);
  text-transform: uppercase;
  width: 100%;

  h2 {
    color: var(--grey-500);
    font: var(--text-4);
  }
}

.strength-meter p {
  color: var(--white);
  font: var(--text-3);
}

.bar-wrapper {
  display: inline-flex;
  gap: var(--spacing-100);
  align-items: center;
}

.bar {
  --bar-color: var(--grey-200);
  background-color: transparent;
  border: 0.125rem solid var(--bar-color);
  height: 1.75rem;
  width: 0.625rem;
}

.too-weak {
  --bar-color: var(--red-500);
  background-color: var(--bar-color);
}

.weak {
  --bar-color: var(--orange-500);
  background-color: var(--bar-color);
}

.medium {
  --bar-color: var(--yellow-500);
  background-color: var(--bar-color);
}

.strong {
  --bar-color: var(--green-200);
  background-color: var(--bar-color);
}

.btn--submit {
  border: 0.125rem solid var(--green-200);
  background-color: var(--green-200);
  color: var(--grey-800);
  cursor: pointer;
  display: inline-flex;
  font: var(--text-4);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  padding-block: var(--spacing-200);
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: transparent;
    color: var(--green-200);
  }
}

.error {
  color: var(--red-500);
  font: var(--text-4);
  margin-block-start: var(--spacing-100);
}
