// Base Styles

:root {
  // Colors
  --black: hsl(0 0% 0%);
  --green-200: hsl(127 100% 82%);
  --grey-950: hsl(255 22% 4%);
  --grey-900: hsl(248 17% 9%);
  --grey-850: hsl(248 15% 11%);
  --grey-800: hsl(248 10% 15%);
  --grey-700: hsl(248 5% 34%);
  --grey-600: hsl(251 9% 53%);
  // Added --grey-500 color for accessibility contrast ratio
  --grey-500: hsl(251 9% 67%);
  --grey-200: hsl(252 11% 91%);
  --orange-400: hsl(13 95% 66%);
  --red-500: hsl(0 91% 63%);
  --yellow-300: hsl(42 91% 68%);
  --white: hsl(0 100% 100%);

  // Gradient, Radius
  --gradient-1: linear-gradient(90deg, #14131b 0%, #08070b 100%);
  --radius-s: 0.625rem; /* 10px */

  // Spacing
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1300: 6.5rem; /* 104px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-2000: 10rem; /* 160px */
  --spacing-2200: 11rem; /* 176px */
  --spacing-2300: 11.5rem; /* 184px */

  // Typography
  --font-base: 'JetBrains Mono', monospace;
  --leading-fine: 1.25;
  --leading-standard: 1.3;
  --text-1: 700 2rem/var(--leading-standard) var(--font-base); /* 32px */
  --text-2: 700 1.5rem/var(--leading-standard) var(--font-base); /* 24px */
  --text-3: 700 1.125rem/var(--leading-standard) var(--font-base); /* 18px */
  --text-4: 700 1rem/var(--leading-fine) var(--font-base); /* 16px */
}

body {
  background: var(--gradient-1);
  color: var(--white);
  font-family: var(--font-base);
  min-height: 100vh;
}

h1 {
  color: var(--grey-600);
  font: var(--text-4);
  margin-block-end: var(--spacing-200);
  text-align: center;

  @media (width > 33.75rem) {
    font: var(--text-2);
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

// Screen reader styles
.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}
