*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
p,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

a {
  text-decoration: underline;
  color: currentColor;
}

a:focus {
  outline: 0.125rem dotted currentColor;
  outline-offset: 0.125rem;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}
